body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    padding: 40px 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

#display{
    text-align: end;
    padding: 20px;
   margin: 0 0 20px 0;
    width: 340px;
    height: 30px;
    background-color: antiquewhite;
}

button{
    width: 80px;
    height: 70px;
    margin: auto;
    background-color: antiquewhite;
}

#clear{
    grid-area: 1 / 1 / 2 / 3;
    width: 180px;
}

#delete{
    grid-area: 1 / 3 / 2 / 5;
    width: 180px;
}

#main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 5px;
    row-gap: 10px;
    width: 400px;
}
