body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b2519;
}

#calculator{
    padding: 100px 5px 40px 5px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(176,167,167,1) 0%, rgba(66,59,59,1) 23%, rgba(69,65,65,1) 86%, rgba(113,110,110,1) 100%);
    border: 12px groove rgba(55,53,61,0.68);
    border-radius: 40px 40px 24px 24px;
    margin-top: 50px;
    
}

#display{
    text-align: end;
    padding: 10px 20px 30px 20px;
   margin: 0 0 20px 0;
    width: 340px;
    height: 30px;
    background-color: rgb(4, 7, 0);
    color: rgb(138, 230, 0);
    border-radius: 10px;
    border-top: 30px inset #7b8175;
    border-right: 20px inset #626961;
    border-bottom: 10px inset #6c7169;
    border-left: 20px inset #899183;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    letter-spacing: -1.4px;
    overflow: hidden;
}

.previousNumber{
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(138, 230, 0, 60%);
}

button{
    width: 80px;
    height: 70px;
    margin: auto;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 31px;
    letter-spacing: -1.4px;
    word-spacing: -0.6px;
    color: #8C7E6F;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    border-radius: 20px 20px 10px 10px;
    background: linear-gradient(18deg, rgb(230, 225, 225) 7%, rgb(155, 137, 137) 100%);
    border-right: 7px outset #b8a4a2;
    border-bottom: 20px outset #ecd7d4;
    border-left: 7px outset #c4b8b7;
    border-top: none;

}

button:hover{
    height:65px;
    width: 78px;
    border-right: 5px outset #b8a4a2;
    border-bottom: 15px outset #ecd7d4;
    border-left: 5px outset #c4b8b7;
    border-top: none;
}

button:active{
    height:60px;
    width: 78px;
    border-right: 3px outset #b8a4a2;
    border-bottom: 7px outset #ecd7d4;
    border-left: 3px outset #c4b8b7;
    border-top: none;
}

.number{
    background: linear-gradient(18deg, rgb(100, 93, 93) 7%, rgb(63, 54, 54) 100%);
    color: #cecbc9;
    border-right: 7px outset #887c7a;
    border-bottom: 20px outset #9b8d8b;
    border-left: 7px outset #756a69;
    border-top: none;
}

.number:hover{
    height:65px;
    width: 78px;
    border-right: 5px outset #887c7a;
    border-bottom: 15px outset #9b8d8b;
    border-left: 5px outset #756a69;
    border-top: none;
}

.number:active{
    height:60px;
    width: 78px;
    border-right: 3px outset #887c7a;
    border-bottom: 7px outset #9b8d8b;
    border-left: 3px outset #756a69;
    border-top: none;
}

.clear{
    grid-area: 1 / 1 / 2 / 3;
    width: 180px;
    height: 60px;
    background: linear-gradient(18deg, rgb(179, 74, 74) 7%, rgba(197,48,48,1) 100%);
    color: #c5abab;
    border-right: 7px outset #b45a50;
    border-bottom: 20px outset #c74536;
    border-left: 7px outset #d6655b;
    border-top: none;
}

.clear:hover{
    height:55px;
    width: 175px;
    border-right: 5px outset #b45a50;
    border-bottom: 15px outset #c74536;
    border-left: 5px outset #d6655b;
    border-top: none;
}

.clear:active{
    height:50px;
    width: 175px;
    border-right: 3px outset #b45a50;
    border-bottom: 7px outset #c74536;
    border-left: 3px outset #d6655b;
    border-top: none;
}

#delete{
    grid-area: 1 / 3 / 2 / 5;
    width: 180px;
    height: 60px;
    background: linear-gradient(18deg, rgb(179, 74, 74) 7%, rgba(197,48,48,1) 100%);
    color: #c5abab;
    border-right: 7px outset #b45a50;
    border-bottom: 20px outset #c74536;
    border-left: 7px outset #d6655b;
    border-top: none;
}

#delete:hover{
    height:55px;
    width: 175px;
    border-right: 5px outset #b45a50;
    border-bottom: 15px outset #c74536;
    border-left: 5px outset #d6655b;
    border-top: none;
}

 #delete:active{
    height:50px;
    width: 175px;
    border-right: 3px outset #b45a50;
    border-bottom: 7px outset #c74536;
    border-left: 3px outset #d6655b;
    border-top: none;
}



#main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 5px;
    row-gap: 10px;
    width: 400px;
}

.operator{
    font-size: 40px;
}